# step 2.1 shopbop cleaning # 

cleaning, spliting lists columns, deleting and adding columns to create the final df for the shopbop website.

In [2]:
import pandas as pd
import re

In [4]:
df= pd.read_csv("shopbop_prodoct_info_final.csv")
df

,num,brand,product_names,prices,ids,ratings,sizes,fabrics,colors
0,0,shopbop,Lace Top,490.00,PACOO30471,0.0,"['\n 34', '\n ...","Fabric: Lightweight, stretch lace",['Black']
1,1,shopbop,Jupe Skirt,620.00,PACOO30468,0.0,"['\n 34', '\n ...","Fabric: Lightweight, stretch floral lace",['Black']
2,2,shopbop,Ella Dress,285.00,XIREN30738,0.0,"['\n XS', '\n ...",NaN,"['Electric Blue', 'Rococo Rose']"
3,3,shopbop,Rosalie Dress,840.00,LGVSG30040,0.0,"['\n 34', '\n ...",NaN,['Black']
4,4,shopbop,Wyatt Shirt,255.00,RAGBO46380,0.0,"['\n XXS', '\n ...","Fabric: Mid-weight, non-stretch denim",['Vintage Blue']
...,...,...,...,...,...,...,...,...,...
14102,14102,shopbop,Textural Hanelee Cardigan,191.25,THEOR44270,0.0,"['\n P', '\n ...",Fabric: Mid-weight textured knit,['Heather Grey']
14103,14103,shopbop,70s Bell Jeans,147.50,REDON30703,0.0,"['\n 24', '\n ...",NaN,['Heritage Rinse']
14104,14104,shopbop,Lucie Embroidered Cotton Midi Dress,59.20,MADEW45806,0.0,"['\n 00', '\n ...",NaN,['Vintage Mulberry']
14105,14105,shopbop,Odessa Wide Straight Jeans,140.00,MOUSS30201,0.0,"['\n 23', '\n ...",NaN,['Black']
14106,14106,shopbop,Lumire Bicolor Bandeau Set,131.00,OSERE30075,0.0,"['\n S', '\n ...",Colorblock design with glitter finish,['Violet/Orange']

## Nan and duplicates values

טיפול בנתונים החסרים בטבלה ובנתונים הכפולים.
במידה של כפילות הורדה של שורות כפולות, ובמידה של נתון חסר טיפול בהתאם לצורך

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14107 entries, 0 to 14106
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   num            14107 non-null  int64
 1   brand          14107 non-null  object
 2   product_names  14107 non-null  object
 3   prices         14107 non-null  float64
 4   ids            14105 non-null  object
 5   ratings        14107 non-null  float64
 6   sizes          14107 non-null  object
 7   fabrics        9864 non-null   object
 8   colors         14107 non-null  object
dtypes: float64(2), int64(1), object(6)
memory usage: 992.0+ KB

ניתן לראות שכל החסרים נמצאים באותה עמודה,
עמודת הבד שאינה ניתנת לחיזוי כיוון שתרכובת הבד שונה לחלוטין בכל פריט ביגוד והכנסה של ערך שכיח\ מילוי ע"פ עוקב\קודם עלולה ליצור הטייה משמעותית בנכונות ההתפלגות
לכן בחרנו להוריד שורות אלו.

In [5]:
df_nan1=df.dropna()
df_nan1.shape

df_nan1.to_csv("shopbop_cleaning_temp1.csv", index=False)

In [6]:
df1= df[(df.ratings!= 0.0)]
# df1
df1.shape

(1011, 9)

In [7]:
df2= df_nan1[(df_nan1.ratings!= 0.0)]
df2.shape

(784, 9)

לאחר בדיקת התפלגות הפריטים המדורגים והלא מדורגים לפני ואחרי ההורדה גילינו שאחוז ההתפלגות נשמר גם לאחר ההורדה לכן הסקנו שההורדה אינה פוגעת בנכונות הנתונים.

In [8]:
df_nan1.duplicated().sum()

0

In [9]:
df_nan1

,num,brand,product_names,prices,ids,ratings,sizes,fabrics,colors
0,0,shopbop,Lace Top,490.00,PACOO30471,0.0,"['\n 34', '\n ...","Fabric: Lightweight, stretch lace",['Black']
1,1,shopbop,Jupe Skirt,620.00,PACOO30468,0.0,"['\n 34', '\n ...","Fabric: Lightweight, stretch floral lace",['Black']
4,4,shopbop,Wyatt Shirt,255.00,RAGBO46380,0.0,"['\n XXS', '\n ...","Fabric: Mid-weight, non-stretch denim",['Vintage Blue']
5,5,shopbop,Shelly Wide Leg Crepe Pants,475.00,RAGBO46413,0.0,"['\n 00', '\n ...",Fabric: Mid-weight stretch crepe,['Black']
6,6,shopbop,Jylan Moto Jacket,1598.00,VBEAR32197,0.0,"['\n 0', '\n ...","Fabric: Heavyweight, non-stretch leather",['Navy']
...,...,...,...,...,...,...,...,...,...
14098,14098,shopbop,Boiled Wool Mini Skirt,247.50,TIBDB30355,0.0,"['\n 0', '\n ...",Fabric: Heavyweight non-stretch fleece,['Midnight Navy']
14099,14099,shopbop,Nathalie Dress,347.50,ULLAJ22017,0.0,"['\n P', '\n ...",Fabric: Heavyweight knit,['Twilight']
14101,14101,shopbop,Orion One Piece Swimsuit,44.75,XIREN30663,0.0,"['\n S', '\n ...",Scoop neck and tie shoulder straps,['Blue Sails']
14102,14102,shopbop,Textural Hanelee Cardigan,191.25,THEOR44270,0.0,"['\n P', '\n ...",Fabric: Mid-weight textured knit,['Heather Grey']
14106,14106,shopbop,Lumire Bicolor Bandeau Set,131.00,OSERE30075,0.0,"['\n S', '\n ...",Colorblock design with glitter finish,['Violet/Orange']

## Regex cleaning

ניקוי "רעשים" בעמודות בעזרת ספריית re

In [10]:
df_nan1.replace({'fabrics': r'Fabric: ?'}, {'fabrics': ''}, regex=True, inplace=True)

df_nan1

C:\Users\linoy\AppData\Local\Temp\ipykernel_75796\1701026502.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_nan1.replace({'fabrics': r'Fabric: ?'}, {'fabrics': ''}, regex=True, inplace=True)

,num,brand,product_names,prices,ids,ratings,sizes,fabrics,colors
0,0,shopbop,Lace Top,490.00,PACOO30471,0.0,"['\n 34', '\n ...","Lightweight, stretch lace",['Black']
1,1,shopbop,Jupe Skirt,620.00,PACOO30468,0.0,"['\n 34', '\n ...","Lightweight, stretch floral lace",['Black']
4,4,shopbop,Wyatt Shirt,255.00,RAGBO46380,0.0,"['\n XXS', '\n ...","Mid-weight, non-stretch denim",['Vintage Blue']
5,5,shopbop,Shelly Wide Leg Crepe Pants,475.00,RAGBO46413,0.0,"['\n 00', '\n ...",Mid-weight stretch crepe,['Black']
6,6,shopbop,Jylan Moto Jacket,1598.00,VBEAR32197,0.0,"['\n 0', '\n ...","Heavyweight, non-stretch leather",['Navy']
...,...,...,...,...,...,...,...,...,...
14098,14098,shopbop,Boiled Wool Mini Skirt,247.50,TIBDB30355,0.0,"['\n 0', '\n ...",Heavyweight non-stretch fleece,['Midnight Navy']
14099,14099,shopbop,Nathalie Dress,347.50,ULLAJ22017,0.0,"['\n P', '\n ...",Heavyweight knit,['Twilight']
14101,14101,shopbop,Orion One Piece Swimsuit,44.75,XIREN30663,0.0,"['\n S', '\n ...",Scoop neck and tie shoulder straps,['Blue Sails']
14102,14102,shopbop,Textural Hanelee Cardigan,191.25,THEOR44270,0.0,"['\n P', '\n ...",Mid-weight textured knit,['Heather Grey']
14106,14106,shopbop,Lumire Bicolor Bandeau Set,131.00,OSERE30075,0.0,"['\n S', '\n ...",Colorblock design with glitter finish,['Violet/Orange']

In [11]:
df_nan1.replace({'sizes': r"\\n                        "}, {'sizes': ''}, regex=True, inplace=True)

df_nan1

C:\Users\linoy\AppData\Local\Temp\ipykernel_75796\1422535762.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_nan1.replace({'sizes': r"\\n                        "}, {'sizes': ''}, regex=True, inplace=True)

,num,brand,product_names,prices,ids,ratings,sizes,fabrics,colors
0,0,shopbop,Lace Top,490.00,PACOO30471,0.0,"['34', '36', '38', '40', '42']","Lightweight, stretch lace",['Black']
1,1,shopbop,Jupe Skirt,620.00,PACOO30468,0.0,"['34', '36', '38', '40', '42']","Lightweight, stretch floral lace",['Black']
4,4,shopbop,Wyatt Shirt,255.00,RAGBO46380,0.0,"['XXS', 'XS', 'S', 'M', 'L', 'XL']","Mid-weight, non-stretch denim",['Vintage Blue']
5,5,shopbop,Shelly Wide Leg Crepe Pants,475.00,RAGBO46413,0.0,"['00', '0', '2', '4', '6', '8', '10', '12']",Mid-weight stretch crepe,['Black']
6,6,shopbop,Jylan Moto Jacket,1598.00,VBEAR32197,0.0,"['0', '2', '4', '6', '8', '10']","Heavyweight, non-stretch leather",['Navy']
...,...,...,...,...,...,...,...,...,...
14098,14098,shopbop,Boiled Wool Mini Skirt,247.50,TIBDB30355,0.0,"['0', '2', '4', '6', '8', '10', '12']",Heavyweight non-stretch fleece,['Midnight Navy']
14099,14099,shopbop,Nathalie Dress,347.50,ULLAJ22017,0.0,"['P', 'S', 'M', 'L', 'XL']",Heavyweight knit,['Twilight']
14101,14101,shopbop,Orion One Piece Swimsuit,44.75,XIREN30663,0.0,"['S', 'M', 'L']",Scoop neck and tie shoulder straps,['Blue Sails']
14102,14102,shopbop,Textural Hanelee Cardigan,191.25,THEOR44270,0.0,"['P', 'S', 'M', 'L']",Mid-weight textured knit,['Heather Grey']
14106,14106,shopbop,Lumire Bicolor Bandeau Set,131.00,OSERE30075,0.0,"['S', 'M', 'L', 'XL']",Colorblock design with glitter finish,['Violet/Orange']

## deleting and adding columns 
הורדת שורות לא רלוונטיות כמו שורת המספר השימשה לצורך סידורי בשלב הקודם והוספת עמודות חדשות היכולות לעזור בשלב המודל כמו עמודת הקטגוריה.

In [12]:
df_nan1.drop("num", inplace=True, axis=1)
df_nan1

C:\Users\linoy\AppData\Local\Temp\ipykernel_75796\2979060230.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_nan1.drop("num", inplace=True, axis=1)

,brand,product_names,prices,ids,ratings,sizes,fabrics,colors
0,shopbop,Lace Top,490.00,PACOO30471,0.0,"['34', '36', '38', '40', '42']","Lightweight, stretch lace",['Black']
1,shopbop,Jupe Skirt,620.00,PACOO30468,0.0,"['34', '36', '38', '40', '42']","Lightweight, stretch floral lace",['Black']
4,shopbop,Wyatt Shirt,255.00,RAGBO46380,0.0,"['XXS', 'XS', 'S', 'M', 'L', 'XL']","Mid-weight, non-stretch denim",['Vintage Blue']
5,shopbop,Shelly Wide Leg Crepe Pants,475.00,RAGBO46413,0.0,"['00', '0', '2', '4', '6', '8', '10', '12']",Mid-weight stretch crepe,['Black']
6,shopbop,Jylan Moto Jacket,1598.00,VBEAR32197,0.0,"['0', '2', '4', '6', '8', '10']","Heavyweight, non-stretch leather",['Navy']
...,...,...,...,...,...,...,...,...
14098,shopbop,Boiled Wool Mini Skirt,247.50,TIBDB30355,0.0,"['0', '2', '4', '6', '8', '10', '12']",Heavyweight non-stretch fleece,['Midnight Navy']
14099,shopbop,Nathalie Dress,347.50,ULLAJ22017,0.0,"['P', 'S', 'M', 'L', 'XL']",Heavyweight knit,['Twilight']
14101,shopbop,Orion One Piece Swimsuit,44.75,XIREN30663,0.0,"['S', 'M', 'L']",Scoop neck and tie shoulder straps,['Blue Sails']
14102,shopbop,Textural Hanelee Cardigan,191.25,THEOR44270,0.0,"['P', 'S', 'M', 'L']",Mid-weight textured knit,['Heather Grey']
14106,shopbop,Lumire Bicolor Bandeau Set,131.00,OSERE30075,0.0,"['S', 'M', 'L', 'XL']",Colorblock design with glitter finish,['Violet/Orange']

In [13]:
Dresses=['Dress','Chemise']
Jackets_Coats=['Hoodie','Jacket', 'Coat','Blazer','Cardigan']
Jumpsuits_Rompers=['Jumpsuit', 'Romper','Set']
Lingerie=['Lingerie', 'Bra', 'Thong','Briefs','Bodysuit', 'Cami','Bralette','Boyshorts','G-String','Tights','Panties']
Maternity=['Maternity']
Pants=['Leggings', 'Skort', 'Pants', 'Biker Shorts', 'Shorts','Sweatpants', 'Joggers','LEGGING','Jeans', 'Pant']
Skirts=['Skirts','Skirt']
Sleepwear=['Sleepwear','Pajama Set','PJ Set','Mask','Slip','Tunic']
Sweaters_Knits=['Sweater','Knit']
Swimsuits_Cover_Ups=['Swimsuit','Bikini','Bottoms']
Tops=['Sweatshirt', 'Shirt', 'Tee', 'Top', 'Muscle Tank', 'Tank', 'Crop Top','Pullover','Crew','Turtleneck','Blouse','TEE' ]

category=[]
flag=0

category_names={'Dresses':Dresses,'Jackets_Coats':Jackets_Coats,'Lingerie':Lingerie, 'Jumpsuits_Rompers':Jumpsuits_Rompers,
                'Maternity':Maternity,'Pants':Pants,'Skirts':Skirts,'Sleepwear':Sleepwear,
                'Sweaters_Knits':Sweaters_Knits,'Swimsuits_Cover_Ups':Swimsuits_Cover_Ups,'Tops':Tops}

for name in df_nan1.product_names:  
    for n in category_names:
        for item in category_names[n]:
            m=re.search(item,name)
            if m!=None:
                flag=1
                category.append(n)
                break
        if flag==1:
            break
    if flag==0:
        category.append(None)
    else: flag=0

In [14]:
df_nan1['category'] = category
df_nan1

C:\Users\linoy\AppData\Local\Temp\ipykernel_75796\577232846.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_nan1['category'] = category

,brand,product_names,prices,ids,ratings,sizes,fabrics,colors,category
0,shopbop,Lace Top,490.00,PACOO30471,0.0,"['34', '36', '38', '40', '42']","Lightweight, stretch lace",['Black'],Tops
1,shopbop,Jupe Skirt,620.00,PACOO30468,0.0,"['34', '36', '38', '40', '42']","Lightweight, stretch floral lace",['Black'],Skirts
4,shopbop,Wyatt Shirt,255.00,RAGBO46380,0.0,"['XXS', 'XS', 'S', 'M', 'L', 'XL']","Mid-weight, non-stretch denim",['Vintage Blue'],Tops
5,shopbop,Shelly Wide Leg Crepe Pants,475.00,RAGBO46413,0.0,"['00', '0', '2', '4', '6', '8', '10', '12']",Mid-weight stretch crepe,['Black'],Pants
6,shopbop,Jylan Moto Jacket,1598.00,VBEAR32197,0.0,"['0', '2', '4', '6', '8', '10']","Heavyweight, non-stretch leather",['Navy'],Jackets_Coats
...,...,...,...,...,...,...,...,...,...
14098,shopbop,Boiled Wool Mini Skirt,247.50,TIBDB30355,0.0,"['0', '2', '4', '6', '8', '10', '12']",Heavyweight non-stretch fleece,['Midnight Navy'],Skirts
14099,shopbop,Nathalie Dress,347.50,ULLAJ22017,0.0,"['P', 'S', 'M', 'L', 'XL']",Heavyweight knit,['Twilight'],Dresses
14101,shopbop,Orion One Piece Swimsuit,44.75,XIREN30663,0.0,"['S', 'M', 'L']",Scoop neck and tie shoulder straps,['Blue Sails'],Swimsuits_Cover_Ups
14102,shopbop,Textural Hanelee Cardigan,191.25,THEOR44270,0.0,"['P', 'S', 'M', 'L']",Mid-weight textured knit,['Heather Grey'],Jackets_Coats
14106,shopbop,Lumire Bicolor Bandeau Set,131.00,OSERE30075,0.0,"['S', 'M', 'L', 'XL']",Colorblock design with glitter finish,['Violet/Orange'],Jumpsuits_Rompers

לאחר יצירת עמודת הקטגוריה מורידים את העמודות ללא קטגוריה, גם כאן מאותן הסיבות החלטנו להוריד ולא למלא חסרים,
ובנוסף לאחר בדיקה ידנית גילינו שרוב הפריטים שלא דורגו היו פריטים שאכן אינם שיכיים לקטגוריות ביגוד ולא היו רלוונטים מלכתחילה.

In [15]:
df_nan2=df_nan1.dropna()
df_nan2.shape

(8855, 9)

In [16]:
df5=df_nan2[(df_nan2.ratings!= 0.0)]
df5.shape

(730, 9)

In [14]:
df_nan2.to_csv("shopbop_cleaning_final_clean1", index=False)

## Data exploration

In [25]:
df=pd.read_csv("shopbop_cleaning_final_clean1")
df

,brand,product_names,prices,ids,ratings,sizes,fabrics,colors,category
0,shopbop,Lace Top,490.00,PACOO30471,0.0,"['34', '36', '38', '40', '42']","Lightweight, stretch lace",['Black'],Tops
1,shopbop,Jupe Skirt,620.00,PACOO30468,0.0,"['34', '36', '38', '40', '42']","Lightweight, stretch floral lace",['Black'],Skirts
2,shopbop,Wyatt Shirt,255.00,RAGBO46380,0.0,"['XXS', 'XS', 'S', 'M', 'L', 'XL']","Mid-weight, non-stretch denim",['Vintage Blue'],Tops
3,shopbop,Shelly Wide Leg Crepe Pants,475.00,RAGBO46413,0.0,"['00', '0', '2', '4', '6', '8', '10', '12']",Mid-weight stretch crepe,['Black'],Pants
4,shopbop,Jylan Moto Jacket,1598.00,VBEAR32197,0.0,"['0', '2', '4', '6', '8', '10']","Heavyweight, non-stretch leather",['Navy'],Jackets_Coats
...,...,...,...,...,...,...,...,...,...
8850,shopbop,Boiled Wool Mini Skirt,247.50,TIBDB30355,0.0,"['0', '2', '4', '6', '8', '10', '12']",Heavyweight non-stretch fleece,['Midnight Navy'],Skirts
8851,shopbop,Nathalie Dress,347.50,ULLAJ22017,0.0,"['P', 'S', 'M', 'L', 'XL']",Heavyweight knit,['Twilight'],Dresses
8852,shopbop,Orion One Piece Swimsuit,44.75,XIREN30663,0.0,"['S', 'M', 'L']",Scoop neck and tie shoulder straps,['Blue Sails'],Swimsuits_Cover_Ups
8853,shopbop,Textural Hanelee Cardigan,191.25,THEOR44270,0.0,"['P', 'S', 'M', 'L']",Mid-weight textured knit,['Heather Grey'],Jackets_Coats
8854,shopbop,Lumire Bicolor Bandeau Set,131.00,OSERE30075,0.0,"['S', 'M', 'L', 'XL']",Colorblock design with glitter finish,['Violet/Orange'],Jumpsuits_Rompers

In [30]:
df.describe()

            prices      ratings
count  8662.000000  8662.000000
mean    220.202256     0.327811
std     237.876799     1.141776
min       5.700000     0.000000
25%      72.000000     0.000000
50%     144.750000     0.000000
75%     286.800000     0.000000
max    3995.000000     5.000000

In [29]:
df.describe(include=['O'])

,brand,product_names,ids,sizes,fabrics,colors,category
count,8662,8662,8662,8662,8662,8662,8662
unique,1,7789,8657,375,2205,3312,10
top,shopbop,Short Dress,HANKY40304,"['XS', 'S', 'M', 'L', 'XL']",Lightweight jersey,['Black'],Tops
freq,8662,7,2,2845,396,1452,2397

## Binary split of categorical columns
עמודות השמורות כרשימה של ערכים קטגוריאלים יומרו למספר עמודות בינאריות לפי ערכים.

In [26]:
XXS_list=[0]*8855
XS_list=[0]*8855
P_list=[0]*8855
S_list=[0]*8855
M_list=[0]*8855
L_list=[0]*8855
XL_list=[0]*8855
XXL_list=[0]*8855
XXXL_list=[0]*8855
XXXXL_list=[0]*8855
X5L_list=[0]*8855
X6L_list=[0]*8855
onesize_list=[0]*8855


for num, row in enumerate(df.sizes):
    for s in range(len(row)):
        if row[s]=='00' or row[s]=='30' or row[s]=='34' or row[s]=='XXS':
            XXS_list[num]=1
            
        if row[s]=='0' or row[s]=='2' or row[s]=='32' or row[s]=='36' or row[s]=='38' or row[s]=='XS':
            XS_list[num]=1
            
        if row[s]=='P':
            P_list[num]=1
            
        if row[s]=='4' or row[s]=='6' or row[s]=='40' or row[s]=='42' or row[s]=='S':
            S_list[num]=1
            
        if row[s]=='8' or row[s]=='10' or row[s]=='44' or row[s]=='46' or row[s]=='M':
            M_list[num]=1
            
        if row[s]=='12' or row[s]=='48' or row[s]=='L':
            L_list[num]=1
            
        if row[s]=='14' or row[s]=='50' or row[s]=='XL':
            XL_list[num]=1
            
        if row[s]=='16' or row[s]=='52' or row[s]=='XXL':
            XXL_list[num]=1
            
        if row[s]=='18' or row[s]=='20' or row[s]=='54' or row[s]=='56' or row[s]=='XXXL':
            XXXL_list[num]=1
            
        if row[s]=='22' or row[s]=='24' or row[s]=='26' or row[s]=='28' or row[s]=='58' or row[s]=='60' or row[s]=='XXXXL':
            XXXXL_list[num]=1           
            
df_size=pd.DataFrame({"XXS":XXS_list, "XS":XS_list, "S":S_list, "P":P_list, "M":M_list, "L":L_list, "XL":XL_list,
                      "XXL":XXL_list, "XXXL":XXXL_list, "XXXXL":XXXXL_list, "One_size":onesize_list,"5XL":X5L_list,"6XL":X6L_list})      

df_size

      XXS  XS  S  P  M  L  XL  XXL  XXXL  XXXXL  One_size  5XL  6XL
0       0   1  1  0  1  0   0    0     0      0         0    0    0
1       0   1  1  0  1  0   0    0     0      0         0    0    0
2       0   0  1  0  1  1   0    0     0      0         0    0    0
3       0   1  1  0  1  0   0    0     0      0         0    0    0
4       0   1  1  0  1  0   0    0     0      0         0    0    0
...   ...  .. .. .. .. ..  ..  ...   ...    ...       ...  ...  ...
8850    0   1  1  0  1  0   0    0     0      0         0    0    0
8851    0   0  1  1  1  1   0    0     0      0         0    0    0
8852    0   0  1  0  1  1   0    0     0      0         0    0    0
8853    0   0  1  1  1  1   0    0     0      0         0    0    0
8854    0   0  1  0  1  1   0    0     0      0         0    0    0

[8855 rows x 13 columns]

In [27]:
df_size.to_csv("shopbop_cleaning_final_size_table.csv", index=False)

In [53]:
BLUE_list=[0]*8855
BLACK_list=[0]*8855
WHITE_list=[0]*8855
GREY_list=[0]*8855
RED_list=[0]*8855
BROWN_list=[0]*8855
ORANGE_list=[0]*8855
PINK_list=[0]*8855
GREEN_list=[0]*8855
PURPLE_list=[0]*8855
YELLOW_list=[0]*8855

OTHER_COLORS_list=[0]*8662


for num, row in enumerate(df.colors):
    
    flag=0

    if re.search('Blue|Navy|Midnight|Cobalt|Giungla|Denim|Light Lagoon|Caribe',row):
        BLUE_list[num]=1
        flag=1

    if re.search('Black|Carbon|Noir|Coal|Licorice|Jet',row):
        BLACK_list[num]=1
        flag=1

    if re.search('Grey|Charcoal|Smoke|Veer|Iron',row):
        GREY_list[num]=1
        flag=1

    if re.search('White|Ivory|Sugar|Blanc|Nylon|Champagne|Cream|Clear|Bone|Porcelain|Fair|Eggshell',row):
        WHITE_list[num]=1
        flag=1

    if re.search('Brown|Caramel|Saddle|Coco|Creme|Almond|Frappe|Cafe|Taupe|Tan|Cashmere|Camel|Mocha|Toffe|Cinnamon|Copper|Chai|Latte|Gobi|Mandorla|Beige',row):
        BROWN_list[num]=1
        flag=1

    if re.search('Orange|Honey|Peach',row):
        ORANGE_list[num]=1
        flag=1

    if re.search('Pink|Bare|Tuberose|Rose|Blush|Petal',row):
        PINK_list[num]=1
        flag=1
        
    if re.search('Green|Khaki|Army|Cactus|Sage',row):
        GREEN_list[num]=1
        flag=1
        
    if re.search('Purple|Indigo|Lilac',row):
        PURPLE_list[num]=1
        flag=1
        
    if re.search('Red',row):
        RED_list[num]=1
        flag=1
        
    if re.search('Yellow|Buttercream',row):
        YELLOW_list[num]=1
        flag=1
        
    if flag==0:
        OTHER_COLORS_list[num]=1


            
df_color=pd.DataFrame({"Blue":BLUE_list, 'Black':BLACK_list, "Grey":GREY_list, 'White':WHITE_list, 
                      'Brown':BROWN_list, 'Orange':ORANGE_list, 'Pink':PINK_list, 'Green':GREEN_list,
                     'Purple':PURPLE_list, 'Red':RED_list, 'Yellow':YELLOW_list, 'other_colors':OTHER_COLORS_list})      

df_color

,Blue,Black,Grey,White,Brown,Orange,Pink,Green,Purple,Red,Yellow,other_colors
0,0,1,0,0,0,0,0,0,0,0,0,0
1,0,1,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,0,0
3,0,1,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
8657,0,1,0,0,0,0,0,0,0,0,0,0
8658,1,0,0,0,0,0,0,0,0,0,0,0
8659,0,0,0,0,0,0,0,0,0,0,0,1
8660,1,0,0,0,0,0,0,0,0,0,0,0
8661,0,0,1,0,0,0,0,0,0,0,0,0

In [54]:
df_color.to_csv("shopbop_cleaning_final_color_table.csv", index=False)

## Categorization of the y label
קטגוריזציה של ערך רציף דירוג ל6 קטגוריות מרכזיות

In [4]:
labeled_rating=[]

for num, row in enumerate(df.ratings):
    
    if row<=0.5:
        labeled_rating.append(0)
        
    if row>0.5 and row<=1.5:
        labeled_rating.append(1)
        
    if row>1.5 and row<=2.5:
        labeled_rating.append(2)
        
    if row>2.5 and row<=3.5:
        labeled_rating.append(3)
    
    if row>3.5 and row<=4.5:
        labeled_rating.append(4)
        
    if row>4.5:
        labeled_rating.append(5)
        
len(labeled_rating)

8662

In [5]:
df["ratings"]=labeled_rating

## Final table

חיבור כל הטבלאות השונות וניקוי של הטבלאות שלא בשימוש יותר

In [8]:
df_size= pd.read_csv("shopbop_cleaning_final_size_table.csv")
df_color=pd.read_csv("shopbop_cleaning_final_color_table.csv")

base_df=pd.read_csv("shopbop_cleaning_final_clean1")
copy_base_df=base_df.copy()

copy_base_df.to_csv("shopbop_cleaning_2_table.csv", index=False)

copy_base_df.drop(["sizes", "colors"], inplace=True, axis=1)

copy_base_df["ratings"]=labeled_rating

df = pd.concat([copy_base_df, df_size, df_color], axis=1)

df.to_csv("shopbop_cleaning_final_final_table.csv", index=False)

df

,brand,product_names,prices,ids,ratings,fabrics,category,XXS,XS,S,...,Grey,White,Brown,Orange,Pink,Green,Purple,Red,Yellow,other_colors
0,shopbop,Lace Top,490.00,PACOO30471,0,"Lightweight, stretch lace",Tops,0,1,1,...,0,0,0,0,0,0,0,0,0,0
1,shopbop,Jupe Skirt,620.00,PACOO30468,0,"Lightweight, stretch floral lace",Skirts,0,1,1,...,0,0,0,0,0,0,0,0,0,0
2,shopbop,Wyatt Shirt,255.00,RAGBO46380,0,"Mid-weight, non-stretch denim",Tops,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,shopbop,Shelly Wide Leg Crepe Pants,475.00,RAGBO46413,0,Mid-weight stretch crepe,Pants,0,1,1,...,0,0,0,0,0,0,0,0,0,0
4,shopbop,Jylan Moto Jacket,1598.00,VBEAR32197,0,"Heavyweight, non-stretch leather",Jackets_Coats,0,1,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8657,shopbop,Berdine Faux Leather Leggings,44.10,VELVE41623,0,Mid-weight stretch faux leather,Pants,0,0,1,...,0,0,0,0,0,0,0,0,0,0
8658,shopbop,Boiled Wool Mini Skirt,247.50,TIBDB30355,0,Heavyweight non-stretch fleece,Skirts,0,1,1,...,0,0,0,0,0,0,0,0,0,0
8659,shopbop,Nathalie Dress,347.50,ULLAJ22017,0,Heavyweight knit,Dresses,0,0,1,...,0,0,0,0,0,0,0,0,0,1
8660,shopbop,Orion One Piece Swimsuit,44.75,XIREN30663,0,Scoop neck and tie shoulder straps,Swimsuits_Cover_Ups,0,0,1,...,0,0,0,0,0,0,0,0,0,0
8661,shopbop,Textural Hanelee Cardigan,191.25,THEOR44270,0,Mid-weight textured knit,Jackets_Coats,0,0,1,...,1,0,0,0,0,0,0,0,0,0